@font-face {
  font-family: "Sacramento";
  font-weight: normal;
  font-style: normal;
  src: url("./fonts/Sacramento-Regular.ttf");
}

#root,
body,
html,
canvas {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  position: fixed;
  overflow: hidden;
  overscroll-behavior-y: none;
  background: #272730;
  margin: 0;
  font-family: 'Sacramento', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #272730c0;
}

.welcome {  
  color: white;
  font-size: 5rem;
}

.start {
  position: relative;
  margin-top: 52vh;
  color: white;
  font-size: 5vw;
  text-align: center;
  
}

.controlsL {
  position: fixed;
  bottom: 20px;
  left: 20px;
  width: 30%; 
}

.controlsR {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 6%; 
}

.controlsTR {
  position: fixed;
  top: 20px;
  right: 20px;
  width: 12%; 
}

.dot {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  transform: translate3d(-50%, -50%, 0);
  cursor: pointer;
  border: 2px solid white;
}

.loading {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: #171717;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.loading-bar-container {
  width: 200px;
  height: 3px;
  background: #272727;
}

.loading-bar {
  height: 3px;
  background: white;
}

