#root,
body,
html,
canvas {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  position: fixed;
  overflow: hidden;
  overscroll-behavior-y: none;
  background: #272730;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #272730c0;
  /* display: flex;
  align-items: center;
  justify-content: center; */
}

.instructions {
  position: relative;
  /* margin-left: 300px; */
  margin-top: 51vh;
  /* margin-bottom: auto; */
  /* background: rgb(32, 32, 32); */
  color: white;
  font-family: "Sacramento", serif;
  font-size: 3rem;
  /* padding: 10px 20px;
  border-radius: 25px; */
  text-align: center;
  
}

.controls {
  position: relative;
  float: left; 
  margin-left: 50px;
  margin-top: 27vh;
  /* background: rgb(32, 32, 32); */
  color: white;
  font-family: "Sacramento", serif;
  font-size: 3rem;
  /* padding: 10px 20px;
  border-radius: 25px; */
  text-align: center;
  
}

.dot {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  transform: translate3d(-50%, -50%, 0);
  cursor: pointer;
  border: 2px solid white;
}

.loading {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: #171717;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.loading-bar-container {
  width: 200px;
  height: 3px;
  background: #272727;
}

.loading-bar {
  height: 3px;
  background: white;
}


@font-face {
  font-family: "Sacramento";
  font-weight: normal;
  font-style: normal;
  src: url("./fonts/Sacramento-Regular.ttf");
}

.welcome {  
  color: white;
  font-family: "Sacramento", serif;
  font-size: 5rem;
}


/* html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  overflow: hidden;
} */